<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.odes.celerity.core.user.base.persistence.mapper.UserMapperPersistence">
  <sql id="tableColumn">
    `user`.`id`,
    `user`.`username`,
    `user`.`name`,
    `user`.`email`
  </sql>
  <sql id="column">
    `id`,
    `username`,
    `name`,
    `email`
  </sql>
<!--  <resultMap id="" type="">-->

<!--  </resultMap>-->
  <sql id="insertColumn">
    <trim suffixOverrides=",">
      `id`,
      <if test="username != null">`username`,</if>
      <if test="name != null">`name`,</if>
      <if test="email != null">`email`,</if>
    </trim>
  </sql>
  <sql id="insertValue">
    <trim suffixOverrides=",">
      #{id},
      <if test="username != null">#{username},</if>
      <if test="name != null">#{name},</if>
      <if test="email != null">#{email},</if>
    </trim>
  </sql>

  <sql id="updateColumn">
    <trim prefix="set" suffixOverrides=",">
      <if test="username != null">`username` = #{username},</if>
      <if test="name != null">`name` = #{name},</if>
      <if test="email != null">`email` = #{email},</if>
    </trim>
  </sql>

  <select id="find" resultType="dev.odes.celerity.core.user.base.entity.User">
    SELECT
    <include refid="column"/>
    FROM `user`
    <if test="where != null and where != ''">
      <where>
        ${where}
      </where>
    </if>

    <if test="order != null and order != ''">
      ORDER BY ${order}
    </if>
  </select>

  <insert id="insert" parameterType="dev.odes.celerity.core.user.base.entity.User">
    INSERT INTO `user`
    (<include refid="insertColumn"/>)
    VALUES
    (<include refid="insertValue"/>)
  </insert>

  <update id="update" parameterType="java.util.HashMap">
    UPDATE `user`
    <include refid="updateColumn"/>
    WHERE id=#{id} AND updated_count=#{updatedCount, jdbcType=INTEGER}
  </update>

  <delete id="delete">
    DELETE FROM `user` WHERE id=#{id} AND updated_count=#{updatedCount, jdbcType=INTEGER}
  </delete>

  <select id="count" resultType="Integer">
    SELECT COUNT(1) FROM `user`
    <if test="where != null and where != ''">
      ${where}
    </if>
    LIMIT 1
  </select>

  <select id="exist" resultType="Integer">
    SELECT COUNT(1) FROM `user`
    <if test="where != null and where != ''">
      ${where}
    </if>
    LIMIT 1
  </select>

  <select id="index" resultType="Integer">
    SELECT num FROM (
    SELECT D.id, (@row_number:=@row_number+1) as num FROM (SELECT `user`.id FROM `user`
    <if test="where != null and where != ''">
      ${where}
    </if>
    <if test="order != null and order != ''">
      ORDER BY ${order}
    </if>
    ) AS D, (SELECT @row_number:=-1) as T) as A WHERE A.id=#{id} LIMIT 1
  </select>

</mapper>
