
$themes: (
  "BlueGray": (
    primary: #546E7A,
    secondary: #9E9E9E,
    tertiary: #ECEFF1,
    primary-container: #CFD8DC,
    on-primary-container: #263238,
  ),
  "Purple": (
    primary: #6750A4,
    secondary: #625B71,
    tertiary: #F6EDFF,
    primary-container: #EADDFF,
    on-primary-container: #21005D,

  )
);
