
$white: #FFFFFF;

$theme-primary: #fdfdfd;

$surface: #FFFFFF;
$background: #f5f5f5;

$on-secondary: #FFFFFF;

$primary: #c9ee9e;
$secondary: #c5eae7;
$tertiary: #dde6cd;
$error: #B3261E;

$background: #FFFBFE;
$surface: #FFFBFE;
$outline: #79747E;
$overlay: #79747E;

$on-primary: #FFFFFF;
$on-secondary: #FFFFFF;
$on-tertiary: #FFFFFF;

$on-background: #1C1B1F;
$on-surface: #1C1B1F;

