:root {
  --height-header: 48px;
  /*--height-header: 64px;*/
  --height-footer: 24px;
  --height-nav: 32px;
  --height-tab: 32px;
  --height-page-head: 60px;
  --height-page-foot: 60px;

  --height-button: 28px;

  --width-logo: 208px;
  --width-menu: 208px;
  --width-aside: 20px;

  --padding-normal: 16px;
  --padding-button: 12px;

  --text-size: 14px;

}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-weight: normal;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 滚动条的滑轨背景颜色 */
/* ::-webkit-scrollbar-track {
  background-color: #b46868;
} */
/* 滑轨两头的监听按钮颜色 */
*::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
  background-color: #dddddd;
}
*::-webkit-resizer {
  background-color: #13c2c2;
}
/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
*::-webkit-scrollbar-corner {
  background-color: #efdbff;
}
/* 滑块颜色 */
*::-webkit-scrollbar-thumb {
  border-width: 2px;
  border-radius: 4px;
  border-style: dashed;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}
*::-webkit-scrollbar-thumb:hover {
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.24);
}
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 22px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-size: 14px;
  line-height: 22px;
  /* line-height: 1.5; */
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.5s, background-color 0.5s;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
