<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.odes.celerity.core.develop.infrastructure.mapper.ViewMapper">
  <sql id="tableColumn">
    `develop_view`.`id`,
    `develop_view`.`code`,
    `develop_view`.`name`,
    `develop_view`.`path`,
    `develop_view`.`serial_no`,
    `develop_view`.`parent`,
    `develop_view`.`module`,
    `develop_view`.`is_menu`,
    `develop_view`.`remark`
  </sql>
  <sql id="column">
    `id`,
    `code`,
    `name`,
    `path`,
    `serial_no`,
    `parent`,
    `module`,
    `is_menu`,
    `remark`
  </sql>

  <sql id="insertColumn">
    <trim suffixOverrides=",">
      `id`,
      <if test="code != null">`code`,</if>
      <if test="name != null">`name`,</if>
      <if test="path != null">`path`,</if>
      <if test="serialNo != null">`serial_no`,</if>
      <if test="parent != null">`parent`,</if>
      <if test="module != null">`module`,</if>
      <if test="isMenu != null">`is_menu`,</if>
    </trim>
  </sql>
  <sql id="insertValue">
    <trim suffixOverrides=",">
      #{id},
      <if test="code != null">#{code},</if>
      <if test="name != null">#{name},</if>
      <if test="path != null">#{path},</if>
      <if test="serialNo != null">#{serialNo},</if>
      <if test="parent != null">#{parent},</if>
      <if test="module != null">#{module},</if>
      <if test="isMenu != null">#{isMenu},</if>
    </trim>
  </sql>
  <sql id="insertEntityValue">
    <trim suffixOverrides=",">
      #{view.id},
      <if test="view.code != null">#{view.code},</if>
      <if test="view.name != null">#{view.name},</if>
      <if test="view.path != null">#{view.path},</if>
      <if test="view.serialNo != null">#{view.serialNo},</if>
      <if test="view.parent != null">#{view.parent},</if>
      <if test="view.module != null">#{view.module},</if>
      <if test="view.isMenu != null">#{view.isMenu},</if>
    </trim>
  </sql>

  <sql id="updateColumn">
    <trim prefix="set" suffixOverrides=",">
      <if test="code != null">`code` = #{code},</if>
      <if test="name != null">`name` = #{name},</if>
      <if test="path != null">`path` = #{path},</if>
      <if test="serialNo != null">`serial_no` = #{serialNo},</if>
      <if test="parent != null">`parent` = #{parent},</if>
      <if test="module != null">`module` = #{module},</if>
      <if test="isMenu != null">`is_menu` = #{isMenu},</if>
    </trim>
  </sql>
  <sql id="updateEntityColumn">
    <trim prefix="set" suffixOverrides=",">
      <if test="view.code != null">`code` = #{view.code},</if>
      <if test="view.name != null">`name` = #{view.name},</if>
      <if test="view.path != null">`path` = #{view.path},</if>
      <if test="view.serialNo != null">`serial_no` = #{view.serialNo},</if>
      <if test="view.parent != null">`parent` = #{view.parent},</if>
      <if test="view.module != null">`module` = #{view.module},</if>
      <if test="view.isMenu != null">`is_menu` = #{view.isMenu},</if>
    </trim>
  </sql>

  <sql id="deleteColumn">
    <trim prefix="set" suffixOverrides=",">
      <if test="deletedAt != null">`deleted_at` = #{deletedAt},</if>
    </trim>
  </sql>
  <sql id="deleteEntityColumn">
    <trim prefix="set" suffixOverrides=",">
      <if test="view.deletedAt != null">`deleted_at` = #{view.deletedAt},</if>
    </trim>
  </sql>

  <resultMap id="resultMap" type="dev.odes.celerity.core.develop.domain.entity.View">
    <id property="id" column="id"/>
    <result property="code" column="code"/>
    <result property="name" column="name"/>
    <result property="path" column="path"/>
    <result property="serialNo" column="serial_no"/>
    <result property="parent" column="parent"/>
    <result property="module" column="module"/>
    <result property="isMenu" column="is_menu"/>
  </resultMap>

  <select id="findOne" resultMap="resultMap" resultType="dev.odes.celerity.core.develop.domain.entity.View">
    SELECT
    <include refid="column"/>
    FROM `develop_view`
<!--    <if test="where != null and where != ''">-->
<!--      <where>-->
<!--        ${where}-->
<!--      </where>-->
<!--    </if>-->
    <choose>
      <when test="where != null and where != ''">
        <where>
          ${where} AND deleted_at is null
        </where>
      </when>
      <otherwise>
        <where>
          deleted_at is null
        </where>
      </otherwise>
    </choose>
    LIMIT 1
  </select>

  <select id="findMany" resultMap="resultMap" resultType="dev.odes.celerity.core.develop.domain.entity.View">
    SELECT
    <include refid="column"/>
    FROM `develop_view`
    <if test="where != null and where != ''">
      <where>
        ${where}
      </where>
    </if>
<!--    <if test="order != null and order != ''">-->
<!--      ORDER BY ${order}-->
<!--    </if>-->
    <choose>
      <when test="order != null and order != ''">
        ORDER BY ${order}
      </when>
      <otherwise>
        ORDER BY serial_no
      </otherwise>
    </choose>
  </select>

  <select id="findAll" resultMap="resultMap" resultType="dev.odes.celerity.core.develop.domain.entity.View">
    SELECT
    <include refid="column"/>
    FROM `develop_view`
    <if test="where != null and where != ''">
      <where>
        ${where}
      </where>
    </if>
    <!--    <if test="order != null and order != ''">-->
    <!--      ORDER BY ${order}-->
    <!--    </if>-->
    <choose>
      <when test="order != null and order != ''">
        ORDER BY ${order}
      </when>
      <otherwise>
        ORDER BY serial_no
      </otherwise>
    </choose>
  </select>

  <insert id="insertOne" parameterType="dev.odes.celerity.core.develop.domain.entity.View">
    INSERT INTO `develop_view`
    (<include refid="insertColumn"/>)
    VALUES
    (<include refid="insertValue"/>)
  </insert>

  <insert id="insertMany" parameterType="java.util.List">
    INSERT INTO `develop_view`
    (<include refid="insertColumn"/>)
    VALUES
        <foreach collection="list" item="view" separator=",">
          (<include refid="insertEntityValue"/>)
        </foreach>
  </insert>

  <update id="updateOne" parameterType="dev.odes.celerity.core.develop.domain.entity.View">
    UPDATE `develop_view`
    <include refid="updateColumn"/>
    WHERE id=#{id}
  </update>

<!--  <update id="updateMany" parameterType="java.util.HashMap">-->
<!--    UPDATE `view`-->
<!--    <foreach collection="viewList" item="view" separator=",">-->
<!--      <include refid="updateColumn"/>-->
<!--    </foreach>-->
<!--    WHERE id=#{id} AND updated_count=#{updatedCount, jdbcType=INTEGER}-->
<!--  </update>-->

  <update id="deleteOne">
    UPDATE `develop_view`
    <include refid="deleteColumn"/>
    WHERE id=#{id}
  </update>

  <delete id="removeOne" parameterType="java.lang.String">
    DELETE FROM `develop_view` WHERE id=#{id}
  </delete>

  <select id="count" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM `develop_view`
    <if test="where != null and where != ''">
      ${where}
    </if>
    LIMIT 1
  </select>

  <select id="exist" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM `develop_view`
    <if test="where != null and where != ''">
      ${where}
    </if>
    LIMIT 1
  </select>

  <select id="findIndex" resultType="java.lang.Integer">
    SELECT num FROM (
    SELECT D.id, (@row_number:=@row_number+1) as num FROM (SELECT `develop_view`.id FROM `develop_view`
    <if test="where != null and where != ''">
      ${where}
    </if>
    <if test="order != null and order != ''">
      ORDER BY ${order}
    </if>
    ) AS D, (SELECT @row_number:=-1) as T) as A WHERE A.id=#{id} LIMIT 1
  </select>

</mapper>
