[mysqld]

server_id=1
log_bin=mysql-bin

character_set_server=utf8mb4
default-character-set=utf8mb4

datadir = /var/lib/mysql
log-error = /var/lib/mysql/mysql.err

connect_timeout=2
max_connections=8000

default-time-zone='UTC'
